<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="text-primary mb-0">Participants for <%= @challenge.name %></h1>
    <%= link_to "Back to challenge", challenge_path(@challenge), class: "btn btn-outline-secondary" %>
  </div>
  <%= render partial: "challenge_participations/list", locals: { participations: @participations, challenge: @challenge } %>
</div>
