<div class="container mt-3">  
  <h1 class="mb-3 text-primary">Challenge Participations</h1>
    <ul>
      <% @participations.each do |p| %>
        <li>
          <%= link_to "User #{p.user_id} in Challenge #{p.challenge_id}", challenge_participation_path(p) %> - Status: <%= p.status %>
        </li>
      <% end %>
    </ul>
</div>
