<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <h3 class="text-primary mb-3"> User badge </h3> 
      <p><strong>user ID: </strong><%= @user_badge.user_id %></p>
      <p><strong>badge ID: </strong><%= @user_badge.badge_id %></p>
      <p><strong>challenge ID: </strong><%= @user_badge.challenge_id %></p>
    </div>
  </div>
</div>
