<div class="container mt-3">
  <h1 class="mb-3 text-primary">Badges</h1>
    <ul>
      <% @notifications.each do |notification| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= link_to notification.title, notification_path(notification), class: "fw-bold text-decoration-none" %> 
        </li>
      <% end %>
    </ul>
</div>
