<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <h2 class: "text-primary card-title" ><%= @notification.title %></h2>
      <p><strong>Body: </strong><%= @notification.body %></p>
      <p><strong>Type: </strong><%= @notification.notification_type %></p>
    </div>
  </div>
</div>
