<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="text-primary mb-0">Comments for <%= @challenge.name %></h1>
    <%= link_to "Back to challenge", challenge_path(@challenge), class: "btn btn-outline-secondary" %>
  </div>
  <div class="card">
    <div class="card-body">
      <%= render partial: "challenge_comments/list", locals: { comments: @comments, challenge: @challenge } %>
    </div>
  </div>
</div>
