
<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <h5>Comment by User: <%= @challenge_comment.user_id %></h5>
      <p><%= @challenge_comment.body %></p>
    </div>
  </div>
</div>
