<div class="container mt-3">  
  <h1 class="mb-3 text-primary">Progress Logs</h1>
    <ul>
      <% @logs.each do |l| %>
        <li>
          <%= link_to "User #{l.user_id} - Challenge #{l.challenge_id}", progress_log_path(l) %> - Progress: <%= l.progress_value %> <%= l.unit %>
        </li>
      <% end %>
  </ul>
</div>