<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="text-primary mb-0">Edit challenge</h1>
    <%= link_to "View challenge", challenge_path(@challenge), class: "btn btn-outline-secondary" %>
  </div>
  <%= render partial: "form", locals: { challenge: @challenge } %>
</div>
