<h1>Challenge Invites</h1>
<ul>
  <% @invites.each do |i| %>
    <li>
      <%= link_to "User #{i.user_id} invited to Challenge #{i.challenge_id}", challenge_invite_path(i) %> - Accepted: <%= i.is_accepted %>
    </li>
  <% end %>
</ul>
