<div class="container mt-3">    
    <h1 class="text-primary mb-3">Invite Details</h1>
    <p>User ID: <%= @invite.user_id %></p>
    <p>Challenge ID: <%= @invite.challenge_id %></p>
    <p>Accepted at: <%= @invite.accepted_at %></p>
    <p>Is Accepted: <%= @invite.is_accepted %></p>
</div>